<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.githubyss.mobile.morsecode.app"
          tools:ignore="GradleOverrides"
        >

    <application
            android:allowBackup="false"
            android:supportsRtl="true"
            >

        <activity
                android:name=".homepage.MscdHomepageActivity"
                android:screenOrientation="portrait"
                android:theme="@style/comresAppTheme"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                />

        <activity
                android:name=".learningpage.MscdLearningActivity"
                android:screenOrientation="portrait"
                android:theme="@style/comresAppTheme"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                />
    </application>
</manifest>
